<ul class='event-list'>
{{#each}}
    {{#link-to 'event' this}}
      <li>
        <strong>{{name}}</strong><br/>
        Date: {{shortDate}}<br/>
        Time: {{time}}
        {{#if session.content.user}}
          {{#if firstCurrentUserEvent.attending}}
            <button {{action 'leave'}} class='list-join-leave-button'>Leave!</button>
          {{else}}
            <button {{action 'join'}} class='list-join-leave-button'>Join!</button>
          {{/if}}
        {{/if}}
      </li>
    {{/link-to}}
{{/each}}
</ul>