<section id='header'>
  <header>
  {{#link-to 'welcome' class='logo'}}
    <span class='image logo'><img src='images/logo.jpg' alt=''></span>
  {{/link-to}}
  {{#link-to 'welcome'}}
    <h1>i heart jew</h1>
  {{/link-to}}
    <p>your jewish network</p>
  </header>
  <nav id='nav'>
    <ul>
      <li>{{#link-to 'welcome'}}Welcome{{/link-to}}</li>
      <li>{{#link-to 'events'}}Events{{/link-to}}</li>
    </ul>
  </nav>
  <nav id='bottom-nav'>
    <ul>
      <li>
        {{#if session.isAuthenticated}}
          <a href='#' {{ action 'invalidateSession' }}>Logout</a>
        {{else}}
          {{#link-to 'signup'}}Signup{{/link-to}}
          {{#link-to 'login'}}Login{{/link-to}}
        {{/if}}
      </li>
    </ul>
  </nav>
  <footer>
    <ul class='icons'>
      <li><a href='#' class='icon fa-facebook'><span class='label'>Facebook</span></a></li>
      <li><a href='#' class='icon fa-envelope'><span class='label'>Email</span></a></li>
    </ul>
  </footer>
</section>
<section id='wrapper' class="container">
  {{outlet}}
</section>
<section id='mobile-footer' >
  <nav id='mobile-nav'>
    <ul>
      <li>{{#link-to 'welcome'}}Welcome{{/link-to}}</li>
      <li>{{#link-to 'events'}}Events{{/link-to}}</li>
      {{#if session.isAuthenticated}}
        <li>
          <a href='#' {{ action 'invalidateSession' }}>Logout</a>
        </li>
      {{else}}
        <li>
          {{#link-to 'signup'}}Signup{{/link-to}}
        </li>
        <li>
          {{#link-to 'login'}}Login{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </nav>
</section>