<p>{{#link-to 'events'}}Back{{/link-to}}</p>
<h4>{{name}}</h4>
{{#if description}}
  <p>{{description}}</p>
{{/if}}
{{#unless noPhotos}}
<div class='event-photos'>
  {{#each shownPhotos}}
  <div class='photo-block'>
    <a {{bind-attr href='url' style='background'}} target="_blank" class='photo-thumbnail'></a>
  </div>
  {{/each}}
</div>
{{#if showMorePhotosButton}}
<div class="more-photos-line">
  <a href="javascript:" {{action 'morePhotos'}}>More Photos...</a>
</div
{{/if}}
{{/unless}}
<table class='event-details'>
  <tr>
    <td>Date:</td><td>{{shortDate}}</td>
  </tr>
  <tr>
    <td>Time:</td><td>{{time}}</td>
  </tr>
  <tr>
    <td>Place:</td><td>{{place}}</td>
  </tr>
  <tr>
    <td>Address:</td><td>{{addressline1}}</td>
  </tr>
  <tr>
    <td></td><td>{{addressline2}}</td>
  </tr>
  <tr>
    <td></td><td>{{addressline3}}</td>
  </tr>
{{#if ticketLink}}
  <tr>
    <td><strong><a {{bind-attr href=ticketLink}} target='_blank'>Buy Ticket!</a></strong></td></td><td></td>
  </tr>
{{/if}}
</table>

{{#if session.content.user}}
  {{#if eventInFuture}}
    <p>
    {{#if firstCurrentUserEvent.attending}}
      You are attending!
      <button {{action 'leave'}}>Leave!</button>
    {{else}}
      You're not attending.
      <button {{action 'join'}}>Join!</button>
    {{/if}}
    </p>
  {{/if}}
  <p>
     Add Photos: <br/>
     <input type="file" id="files" name="files[]" multiple /><br/>
     <button {{action 'uploadFiles' this}}>Upload!</button>
     {{uploadStatus}}
  </p>
  <p>
  Comment:
  {{textarea class='comment-box' value=commentText rows="3"}}
  <button {{action 'comment'}} class='comment-button'>Comment</button>
  </p>

{{else}}
  <p>
    You must be logged in to join the event or comment:
    {{#link-to 'signup' class='link-button'}}Signup{{/link-to}}
    {{#link-to 'login' class='link-button'}}Login{{/link-to}}
  </p>
{{/if}}
<strong>Comments:</strong>
<table class='comments'>
  <tbody>
  {{#each comment in sortedComments}}
    <tr>
      <td class='comment-name-cell'><div>{{comment.userName}}</div><div class='comment-date'>{{comment.createdShortDate}} {{comment.createdTime}}</div></td>
      <td class='comment-text-cell'>{{comment.text}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
