{{#link-to 'events'}}Back{{/link-to}}
<br/>
Hi, this event is: {{name}}<br/>
{{description}}<br/>
{{shortDate}}<br/>
{{time}}<br/>
{{#if session.content.user}}

  {{#if firstCurrentUserEvent.attending}}
    You are attending!<br/>

    <button {{action 'leave'}}>Leave!</button>
  {{else}}
    <button {{action 'join'}}>Join!</button>
  {{/if}}

  Wanna comment?
  {{textarea value=commentText rows="6"}}
  <button {{action 'comment'}}>Comment</button>
  <br/>

{{else}}
  You must be logged in to join the event or comment:
  {{#link-to 'signup' class='signup-button'}}Signup{{/link-to}}
  {{#link-to 'login' class='login-button'}}Login{{/link-to}}
  <br/>
{{/if}}

<br/>

Comments:<br/>
{{#each comment in comments}}
Comment by {{comment.parseUser.username}}: {{comment.text}} <br/>
{{/each}}
