{{#unless model}}
  No events at the moment! <br/>
{{/unless}}

{{#if session.content.user}}

  {{#if currentUserNotIndicatedEvents}}
    New events: <br/>
    {{#each currentUserNotIndicatedEvents}}
      {{#link-to 'event' this}}{{name}}{{/link-to}}{{#if firstCurrentUserEvent.attending}}
    <button {{action 'leave'}}>Leave!</button>
  {{else}}
    <button {{action 'join'}}>Join!</button>
  {{/if}}

       <br/>
    {{/each}}
  {{/if}}
       <br/>

  {{#if currentUserAttendingEvents}}
    Events you're going to: <br/>
    {{#each currentUserAttendingEvents}}
      {{#link-to 'event' this}}{{name}} {{firstCurrentUserEvent.attending}} {{um}}{{/link-to}}{{#if firstCurrentUserEvent.attending}}
    <button {{action 'leave'}}>Leave!</button>
  {{else}}
    <button {{action 'join'}}>Join!</button>
  {{/if}}

       <br/>
    {{/each}}
  {{/if}}
       <br/>

  {{#if currentUserNotAttendingEvents}}
    Events you're not going to: <br/>
    {{#each currentUserNotAttendingEvents}}
      {{#link-to 'event' this}}{{name}} {{firstCurrentUserEvent.attending}} {{um}}{{/link-to}}{{#if firstCurrentUserEvent.attending}}
    <button {{action 'leave'}}>Leave!</button>
  {{else}}
    <button {{action 'join'}}>Join!</button>
  {{/if}}

       <br/>
    {{/each}}
  {{/if}}

{{else}}
  {{#each}}
    {{#link-to 'event' this}}{{name}}{{/link-to}}<br/>
  {{/each}}
{{/if}}
