<div class="row">
  <div class="small-12 columns">
    <h2>Sign up</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <form>
      <p>
        <label for="username">Name</label>
        {{input value=username id="username" placeholder="Enter a username..."}}
      </p>
      <p>
        <label for="password">Password</label>
        {{input value=password type='password' id="password" placeholder="Enter a username..."}}
      </p>
      <p>
        <label for="email">Email</label>
        {{input value=email id="email" placeholder="Enter your email..."}}
      </p>
      <p>
        <button {{action 'signup'}}>Sign up!</button>
      </p>
    {{#if signupMessage}}
      <div data-alert class="alert-box warning radius">
        <p>{{signupMessage}}</p>
      </div>
    {{/if}}
    </form>
  </div>
</div>
